h1 {
  text-align: center;
  font-family: Abril Fatface;
  font-weight: bold;
  color: white;
}

h2 {
  text-align: left;
  font-family: Abril Fatface;
  font-weight: bold;
  color: green;
}

h3 {
  text-align: left;
  font-family: Abril Fatface;
  font-weight: bold;
  color: white;
}

p {
  text-align: left;
  font-family: Abril Fatface;
  font-weight: normal;
  color: white;
}

.header {
position:absolute;
overflow: hidden;
padding: 10px 0px;
text-align: center;
background-color: #102c5a;
background-image: none;
color: white;
font-size: 30px;
top: 60px;
left: 0%;
margin: 0;
width: 100%;
}

.project_template_header {
position:absolute;
overflow: hidden;
padding: 10px 0px;
text-align: center;
background-color: #102c5a;
background-image: url('project_image_url');
color: white;
font-size: 30px;
top: 60px;
left: 0%;
margin: 0;
width: 100%;
}

* {box-sizing:border-box}

/* Style the tab */
.tab {
overflow: hidden;
border: 0px solid #0089ff;
background-color: #0089ff;
position: fixed; 
top: 0;
left: 0%;
width: 100%;
height: 60px;
z-index: 10;
}

/* Style the buttons that are used to open the tab content */
.tab button {
position: static;
display: block;
background-color: inherit;
color: #fcfdff;
border: none;
float: left;
cursor: pointer;
height: 100%;
top: 0px;
padding: 14px 40px;
transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
background-color: #102c5a;
}

/* Create an active/current tablink class */
.tab button.active {
background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
display: none;
padding: 6px 12px;
border: 0px solid #ccc;
background-color: #ccc;
border-top: none;
width: 100%;
margin: 0 0;
} 

.logo_image {
display: block;
left: 50%;
float: inline-start;
margin: 0 auto;
cursor: pointer;
}


/* Changes the mute/unmute icon when clicked */
input#un-mute {
  display: none;
}

.unmute i,
.mute i {
  display: none;
  font-size: 32px;
}

.unmute i {
  float: right;
}

input#un-mute:not(:checked) ~ .unmute i {
  display: initial;
}

input#un-mute:not(:checked) ~ .mute i {
  display: none;
}

input#un-mute:checked ~ .unmute i {
  display: none;
}

input#un-mute:checked ~ .mute i {
  display: inline-block;
  float: right;
  position: relative;
  top: 3px;
}

/* Styling for the home page */

.biography {
  position: absolute;
  top: 220px;
  left: 2%;
  width: 96%;
}

.biography p {
  text-align: center;
  margin: 1em 0;
}

.main_photo {
  position: absolute;
  width: 100%;
}

/* Style the container for the project tiles */
.tiles {
position: relative;
top: 220px;
width: 90%;
left: 5%;
font-size: 0;
margin: auto;
}

/* Style the project tiles in grid */
.tile {
position: relative;
width: 20%;
display: inline-block;
cursor: pointer;
margin-right: 10px;
margin-left: 10px;
margin-bottom: 20px;
background-color: black;
}

.tile img{
transition: opacity 0.5s ease;
}

/* Darken tiles on hover */
.tile:hover img{
opacity: 0.5;
pointer-events: fill;
}

/* Hide the title by default*/ 
.project_title {
position: absolute;
visibility: visible;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
background-color: none;
color: white;
font-size: large;
width: 100%;
padding: 0;
box-sizing: border-box;
text-align: center;
opacity: 0;
transition: opacity 0.5s ease;
display: flex;
justify-content: center;
align-items: center;
}

/* Show title on hover */
.tile:hover .project_title {
opacity: 1;
}

/* Scroll animation styling */
html {
height: 100vh;
}

body {
background: #000;
height: 100vh;
}

/* This canvas element contains the animation */
canvas {
position: relative;
visibility: hidden;
left: 50%;
top: 50vh;
max-height: 100vh;
max-width: 100vw;
transform: translate(-50%, -50%);
z-index: -1;
}

/* Slideshow on the about-me page */
.slideshow {
width: 100%;
margin: 0 auto;
position: static;
overflow: hidden;
}

.slideshow img {
width: 100%;
position: absolute;
top: 230px;
left: 0;
opacity: 0;
transition: opacity 2s ease-in-out;
}

.slideshow img.active {
opacity: 1;
}

/* Video for the project template */

.video-container {
position: relative;
padding-bottom: 56.25%; /* set to 16:9 aspect ratio */
overflow: hidden;
}

.auto-resizable-iframe {
position: relative;
padding-bottom: 0%;
top: 220px;
left: 0px;
width: 100%;
}

.auto-resizable-iframe > div {
position: relative;
padding-bottom: 75%;
height: 0px;
}

.auto-resizable-iframe iframe {
position: absolute;
width: 100%;
height: 70%;
}

.project_main {
position: absolute;
top: 0%;
width: 100%;
height: 327px;
transform: translate(0, -29%);
}

.project_info_main {
position: absolute;
top: 0%;
left: 35%;
width: 66%;
height: 326px;
}

.project_image_main {
position: relative;
top: 0px;
left: 0px;
width: 33%;
}

.project_images {
position: relative;
width: 33%;
left: 66%
}

.project_images img {
width: 100%;
}

.project_info {
position: absolute;
top: 29%;
width: 66%;
height: 991px;
}

/* Contact page styling */

.contact-container {
position: relative;
top: 220px;
max-width: 100%;
padding: 0 20px;
}

form {
display: flex;
top: 220px;
flex-wrap: wrap;
justify-content: space-between;
margin-bottom: 30px;
}

label {
flex-basis: 100%;
margin-bottom: 10px;
color: white;;
}

input[type="text"],
input[type="email"],
textarea {
flex-basis: 100%;
padding: 10px;
border-radius: 5px;
border: 1px solid #ccc;
margin-bottom: 20px;
font-family: Abril Fatface;
}

textarea {
height: 150px;
}

input[type="submit"] {
background-color: #008CBA;
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
}

.contact-info {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
border-top: 1px solid #ccc;
padding: 20px 0;
}

.contact-info p {
font-family: Abril Fatface;
color: white;
flex-basis: 100%;
margin-bottom: 10px;
}

.contact-info ul {
flex-basis: 100%;
display: flex;
justify-content: space-between;
margin: 0;
padding: 0;
}

.contact-info li a {
display: flex;
align-items: center;
color: white;
text-decoration: none;
font-size: 1.2rem;
margin-right: 1rem;
}

.contact-info li a i {
font-size: 1.5rem;
margin-right: 0.5rem;
}

.contact-info a {
color: #008CBA;
text-decoration: none;
}

.contact-info li:nth-child(5) a img {
display: inline-block;
width: 1.5rem;
height: 1.5rem;
margin-right: 0.5rem;
vertical-align: middle;
}

.contact-info li:nth-child(6) a img {
display: inline-block;
width: 1.5rem;
height: 1.5rem;
margin-right: 0.5rem;
vertical-align: middle;
}
